.paragraph {
  margin-top: 100px;
  margin: auto;
  width: 1440px;
  padding: 10px;
  font-size: 17px;
  background: #f7f7f7;
  line-height: 24px;
  height: auto;
  border-radius: 4px 4px 4px 4px;
  border: groove;
}
.row {
  margin-left:-20px;
  display: flex;
}
.column {
  text-align: center;
  width : 380px;
  margin-left:80px;
  padding: 25px;
}
.wrapper {
  width:200px;
  padding:20px;
  height:20px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navitem {
  display: inline-block;
  width: 70px;
  height: 30px;
  text-align: center;
  background-color: #c9c7c7;
  border-radius: 8px 8px 8px 8px;
  color: #303030;
  cursor: pointer;
  margin-left: 8px;
}
.navitem:hover {
  background-color:#e0e0e0;
  color : #787878;
}
