.paragraph {
  margin-top: 100px;
  margin: auto;
  width: 1440px;
  padding: 10px;
  font-size: 17px;
  background: #f7f7f7;
  line-height: 24px;
  height: auto;
  border-radius: 4px 4px 4px 4px;
  border: groove;
}
.row {
  margin-left:-20px;
  display: flex;
}
.column {
  text-align: center;
  width : 380px;
  margin-left:80px;
  padding: 25px;
}
.wrapper {
  width:200px;
  padding:20px;
  height:20px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navitem {
  display: inline-block;
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: #c9c7c7;
  border-radius: 8px 8px 8px 8px;
  color: #303030;
  cursor: pointer;
  margin-left: 8px;
}
.navitem:hover {
  background-color:#e0e0e0;
  color : #787878;
}
.screen {
  margin: auto;
  width: 500px;
  padding: 10px;
  font-size: 17px;
  background: #f7f7f7;
  line-height:24px;
  border: groove;
}
/* .seat tbody tr td:not(:first-child) {
  border: 1px solid black;
  width: 1em;
  height: 1em;
} */
.seat td {
  padding: 20px;
}
.seat tr td:nth-child(5) {
  border:none!important;
}

.seat tr td:nth-child(12) {
  border:none!important;
}
.seat {
  border-spacing: 1.5em;
  padding:20px;
  margin:auto;
}
/* .seat td:hover {
  cursor: pointer;
  background-color: #5568fa;
} */
input[type=checkbox]
{
  transform: scale(2);
  padding: 10px;
}
