{% extends "base.html" %}
{% block title %} addUser {% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="paragraph" style="height:960px; text-align: center;">
      <p>{{ userOut.walletBalance }}</p>
      <form action = "http://localhost:5000/addFunds/{{ userOut.memberID }}" method = "POST">
        <p>Add balance <input class="form-control" type = "text" name = "wallet" style="margin:auto; width:200px; margin-top:10px;"></p>
        <button class="btn btn-outline-secondary push" type="submit" style="margin-left:-120px;">Submit</button>
    </form>
    <a href="http://localhost:5000/addFunds/{{ userOut.memberID }}/pay"><button class="btn btn-outline-secondary push" type="submit" style="margin-left:150px;margin-top:-70px;">Pay</button></a>
  </div>
</div>
{% endblock %}
