<html>
  <body>
    {% for msg in get_flashed_messages()%}
      <strong>{{msg}}</strong>
    {% endfor %}
    <br>
    {% if session.logged_in %}
      <span>HI, {{current_user.email}}</span>
      <br>
      <a href="/logout">LOG OUT</a>
      <a href="http://localhost:5000/addFunds/{{session['id']}}"><button type="submit">Add funds</button></a>
    {% else %}
      <span>HI, NON-MEMBER</span>
      <br>
      <a href="/login">LOG IN</a>
      <a href="/signup">SIGN UP</a>
      
    {% endif %}
  </body>
</html>