<!DOCTYPE html>
<html>
<head>
  <title>Ticket Generator Design</title>
</head>
<style>
.paragraph {
  margin-top: 100px;
  margin: auto;
  width: 1280px;
  padding: 10px;
  font-size: 17px;
  font-family: sans-serif;
  background: #f7f7f7;
  line-height:24px;
  height: 90vh;
  border-radius: 20px 20px 20px 20px;
  border: groove;"
}
.row {
  display: flex;
}
.column {
  padding: 25px;
}
.wrapper{
width:200px;
padding:20px;
}
</style>
<body>
  <div class="paragraph">
      <div class="wrapper">
        <select name="" id="" class="form-control" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
          <option value="">01 March</option>
          <option value="">02 March</option>
          <option value="">03 March</option>
          <option value="">04 March</option>
          <option value="">05 March</option>
          <option value="">06 March</option>
          <option value="">07 March</option>
          <option value="">08 March</option>
          <option value="">09 March</option>
          <option value="">10 March</option>
        </select>
      </div>
    <div class="row">
      <div class="column">
        <img src="Transformer.png" alt="" width=400 height=500 style = " margin-left: 50px">
        <h1 style="margin-left: 150px">
          Transformers
        </h1>
        <h1 style="margin-left: 190px; font-size: 25px;">
          10:00 PM
        </h1>
        <button style = "margin-left : 210px" type="submit">Booking</button>
      </div>
    <div class="column">
      <img src="Power.png" alt="" width=400 height=500 style = " margin-left: 250px">
      <h1 style="margin-left: 350px">
        Power Ranger
      </h1>
      <h1 style="margin-left: 400px; font-size: 25px;">
        10:00 PM
      </h1>
      <button style = "margin-left : 420px" type="submit">Booking</button>
    </div>
  </div>
</div>
</body>
</html>
