{% extends "base.html" %}
{% block title %} MoviesOnScreen {% endblock %}
{% block content %}
      {%for flag in flag%}
        {%if flag == "0"%}
         <li class="nav-item">
           <a class="nav-link" href="login"><strong>Login</strong></a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="signup"><strong>Signup</strong></a>
         </li>
        {% endif %}
        {%if flag == "1"%}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false"><strong>{{name.email}}</strong></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="dropdown-item" href="logout">Logout</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
            </ul>
          </li>
        {% endif %}
      {% endfor %}
   </ul>
 </div>
</nav>
<div class="container-fluid">
  <div class="paragraph">
    <div class="row" style="margin-top:30px;">
      <div class="column">
        <img src="{{url_for('static', filename=movie.imagePath)}}" alt="" width=330 height=450 style = "border: 1px solid black;">
      </div>
      <div class="column">
        <iframe width="720" height="345" src="{{movie.trailerLink}}">
        </iframe>
      </div>
    </div>
    <hr class="one">
    <h3 style="text-align:center"> {{movie.title}} </h3>
    <hr class="one">
    <div class="row" style="margin-top:30px;">
      <div class="column" style="font-size:20px; text-align: left;">
        <p> {{movie.director}} </p>
        <p> Starring : {{movie.actorList}} </p>
        <p> Running Time : 124 min </p>
        <p> Language : English </p>
        <p> Film Rating : {{movie.certificate}}-Rated </p>
      </div>
      <div class="vl" style="margin-top:-20px; border-left: 1px solid gray;"></div>
      <div class="column" style = "margin-left: 70px; width: 60%; font-size:18px;">
        <h3> Synopsis </h3>
        <p style="text-align: left;"> {{movie.blurb}} </p>
        <a href="http://localhost:5000/movieInfo/{{movie.movieID}}"><button class="btn btn-outline-secondary" type="submit" style="color:black; border: 1px solid black;">Booking</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
