{% extends "base.html" %}
{% block title %} MoviesOnScreen {% endblock %}
{% block content %}
{%if session['username'] == "admin"%}
<div class="container-fluid">
  <div class="paragraph">
    <div class="row" style="margin-top:30px;">
      <div class="column">
        <img src="{{url_for('static', filename=movie.imagePath)}}" alt="" width=330 height=450 style = "border: 1px solid black;">
      </div>
      <div class="column">
        <iframe width="720" height="345" src="{{movie.trailerLink}}">
        </iframe>
      </div>
    </div>
    <form action="http://localhost:5000/movieInfo/{{movie.movieID}}" method="POST" name="edit_movie">
      <hr class="one">
      <input class="form-control" required type="text" name="title" value="{{movie.title}}" style="margin:auto; width: 1000px; font-size: 18px;">
      <hr class="one">
      <div class="row" style="margin-top:30px;">
        <div class="column" style="font-size:20px; text-align: left;">
          <div class="form-floating">
            <label for="floatingInputGrid">Directors</label>
            <textarea class="form-control" id="floatingInputGrid" required type="text" name="directors" value=""style="resize: none;">{{movie.director}}</textarea>
          </div>
          <p>Starring</p>
          <textarea class="form-control" required type="text" name="actors" value=""style="resize: none;">{{movie.actorList}}</textarea>
          <input class="form-control" disabled type="text" name="runtime" value="Running Time : 124 min">
          <input class="form-control" disabled type="text" name="language" value="Language : English">
          <p>Film Rating</p>
          <input class="form-control" required type="text" name="rating" value="{{movie.certificate}}">
        </div>
        <div class="vl" style="margin-top:-20px; border-left: 1px solid gray;"></div>
        <div class="column" style = "margin-left: 70px; width: 60%; font-size:18px;">
          <h3> Synopsis </h3>
          <textarea class="form-control" required type="text" name="blurb" value="" rows="4" cols="100" style="margin-top: 30px; text-align: left; resize: none;">{{movie.blurb}}</textarea>
          <button class="btn btn-outline-secondary" type="submit" value="update" style="margin-top: 20px;color:black; border: 1px solid black;">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% else %}
<div class="container-fluid">
  <div class="paragraph">
    <div class="row" style="margin-top:30px;">
      <div class="column">
        <img src="{{url_for('static', filename=movie.imagePath)}}" alt="" width=330 height=450 style = "border: 1px solid black;">
      </div>
      <div class="column">
        <iframe width="720" height="345" src="{{movie.trailerLink}}">
        </iframe>
      </div>
    </div>
    <hr class="one">
    <h3 style="text-align:center"> {{movie.title}} </h3>
    <hr class="one">
    <div class="row" style="margin-top:30px;">
      <div class="column" style="font-size:20px; text-align: left;">
        <p> {{movie.director}} </p>
        <p> Starring : {{movie.actorList}} </p>
        <p> Running Time : 124 min </p>
        <p> Language : English </p>
        <p> Film Rating : {{movie.certificate}}-Rated </p>
      </div>
      <div class="vl" style="margin-top:-20px; border-left: 1px solid gray;"></div>
      <div class="column" style = "margin-left: 70px; width: 60%; font-size:18px;">
        <h3> Synopsis </h3>
        <p style="text-align: left;"> {{movie.blurb}} </p>
        <form method="POST">
          <button class="btn btn-outline-secondary" type="submit" value = "{{movie.movieID}}" name = "movie" style="color:black; border: 1px solid black;">Booking</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
