<!doctype html>
<html>
    <body>
        <form action = "http://localhost:5000/movieDetails" method = "GET">
            <select name = "genre">
                <option value = "None">Choose Genre</option>
                {% for genre in genres %}
                <option value={{genre.genreDesc}}>{{genre.genreDesc}}</option>
                {% endfor %}
            </select>
            <input type="submit" value = "Submit"/>
         </form>
        <table>
            <thead>
                <td>Title</td>
                <td>Director</td>
                <td>Actor List</td>
                <td>Image Path</td>
            </thead>
            {% for row in all_movies %}
            <tr>
                <td><a href = "http://localhost:5000/movieInfo/{{row.title}}">{{row["title"]}}</a></td>
                <td><a href = "http://localhost:5000/movieInfo/{{row.title}}">{{row["director"]}}</a></td>
                <td><a href = "http://localhost:5000/movieInfo/{{row.title}}">{{row["actorList"]}}</a></td>
                <td><a href = "http://localhost:5000/movieInfo/{{row.title}}">{{row["imagePath"]}}</a></td>	
            </tr>
            {% endfor %}
        </table>    
    </body>
</html>