@charset "utf-8";
.header{ width:972px; margin:0 auto;}
.top_img{ height:100px;  margin-bottom:3px;} 

.contenter{ width:972px; margin:0 auto; padding-top:10px;}
.right{ width:730px; float:right; overflow:hidden}
.left{ width:230px; float:left;overflow:hidden}

.right_content{ padding:15px;}
.right_content p{ line-height:25px;}
.right_content p span{ font-weight:bold;}

.curry{ height:31px; line-height:31px; text-indent:45px;}
.taber{ clear:both; overflow:hidden; padding-top:10px; _padding-top:6px;}

.selected{
	background:#6b620e;
	color:#fff
}
#nav ul{
	height:28px;
	line-height:28px;
	list-style:none;
}
#nav ul li{
	float:left;
	width:79px;
	height:28px;
	text-align:center;
	cursor:pointer;
}

#nav_content div{ line-height:28px;}

.booknow{  width:100px;
		   height:26px;
		   border:none;
		   background:url(dgbg.jpg) no-repeat center center;
		   color:rgb(0, 0, 0); font-size:14px; 
		   cursor:pointer;}

.paragraph {
	margin-top: 100px;
	margin: auto;
	width: 1280px;
	padding: 10px;
	font-size: 17px;
	font-family: sans-serif;
	background: #f7f7f7;
	line-height:24px;
	height: 120vh;
	border-radius: 20px 20px 20px 20px;
	border: groove;}