{% extends "base.html" %}
{% block title %} addUser {% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="paragraph" style="height:960px; text-align: center;">
      <p>{{ userOut.walletBalance }}</p>
      <form action = "http://localhost:5000/addFunds/{{ userOut.memberID }}/pay" method = "POST">
        <p>Pay for ticket <input class="form-control" type = "text" name = "price" style="width:200px; margin:auto; margin-top:20px;"></p>
        <button class="btn btn-outline-secondary push" type="submit">Submit</button>
    </form>
    <p>{{ messageOut }}</p>
  </div>
</div>
{% endblock %}
