{% extends "base.html" %}
{% block title %} Profile {% endblock %}
{% block content %}
<div class="paragraph" style="height:960px; text-align: center;">

    <h4>Total : {{ paymentOut.totalprice }}</h4>
    
    <form action = "http://localhost:5000/payByCash/check" method = "POST" id='form1'>
        <p>Cash : <input type = "text" name = "Money" /></p>
        <input type = 'hidden' value = {{paymentOut.totalprice}} name = "amount">
    </form>
    <button type="submit" value="Submit" form='form1' class="btn btn-dark">Process Payment</button>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <h4>{{ message }}</h4>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
</div>

{% endblock %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>