{% extends "base.html" %}
{% block title %} addUser {% endblock %}
{% block content %}

<head>
    <title>Checkout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://js.stripe.com/v3/"></script>  <!-- new -->
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</head>
    <!------------main---------------->
<div class="container-fluid">
	<div class="paragraph" style="height:930px; text-align: center; background-color: rgb(0, 0, 0);">
    <div class="main">

        	<div class="title"><h2 style= "color:rgb(255, 255, 255)">PAYMENT METHOD<span></span></h2></div>
						{% with messages = get_flashed_messages() %}
							{% if messages %}
								{% for msg in messages %}
								<div class="alert alert-warning alert-dismissible fade show" role="alert" style="width:300px; margin:auto;">
									<strong> {{ msg }} </strong>
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								</div>
								{% endfor %}
							{% endif %}
						{% endwith %}
            <div class="form-group">


                <hr style="width: 880px;border-width:5px; color:rgb(255, 255, 255);">
                <a>Available Funds: </a><a>{{name.walletBalance}}</a>
                <span>---</span>
                <a>Ticket Price: </a><a>{{payment.totalprice}}</a>
                <p align="center"><button class="btn btn-outline-secondary push" style="height:300px;width:1240px" id = "submitBtn"><h2 style= "color:rgb(255, 255, 255)">PAY BY CARD<span></span></h2></button></p>
                <form action = "/paymentmethod" method = "POST" align="center">
                  <p align="center"><button type="submit" class="btn btn-outline-secondary push" style="height:300px;width:1240px" id = "submitBtn"><h2 style= "color:rgb(255, 255, 255)">PAY BY WALLET<span></span></h2></button></p>
                </form>
                </div>




        </div>
    </div>

</div>
<script>
    fetch("/config")
    .then((result) => { return result.json(); })
    .then((data) => {
      // Initialize Stripe.js
      const stripe = Stripe("{{publicKey.publicKey}}");

      document.querySelector("#submitBtn").addEventListener("click", () => {
        // Get Checkout Session ID
        fetch("/create-checkout-session")
        .then((result) => { return result.json(); })
        .then((data) => {
          console.log(data);
          // Redirect to Stripe Checkout
          return stripe.redirectToCheckout({sessionId: data.sessionID})
        })
        .then((res) => {
          console.log(res);
        });
      });
    });
</script>
{% endblock %}
