
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PaymentPage</title>

<link href="Paymentpage.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <!------------main---------------->
	<div class="paragraph">
        <div class="main">
    	<div class="login-left">
        	<div class="title"><h2>PAYMENT METHOD<span></span></h2></div>
            <div class="form-group">
                <div class="input-k">
                	<div class="logo"><img src="cardtype.png" width="300" /></div>
                </div>
            	<div class="input-k">
                	<span>Cardnumber:</span> <input type="text" />
                </div>
                <div class="input-k">
                	<span>Expiration :</span><input type="date" />
                </div>
                <div class="input-k">
                	<span>CVV :</span><input type="text" />
                </div>
                <div class="input-k">
                	<span>First Name :</span><input type="text" />
                </div>
                <div class="input-k">
                	<span>Last Name :</span><input type="text" />
                </div>
                <div class="input-k">
                	<span>Address :</span><input type="text" />
                </div>
                <div class="input-k">
                	<span>City :</span><input type="text" />
                </div>
                <div class="input-k">
                	<span>Postal Code :</span><input type="text" />
                </div>
                <div class="input-k">
                	<span>Country :</span><input type="text" />
                </div>
                <div class="input-k">
                	<span>Phone :</span><input type="text" />
                </div>
				
                <div class="input-k">
                	<span></span><button type="button">Submit Purchase</button>
                </div>
            </div>
        </div>
        
        <div class="login-right">
        	
            
        </div></div>
    
        
    </div>
	
    
            
        </div>
    </div>


</body>


</html>
