<!DOCTYPE html>
<html>
<head>
  <title>Ticket Generator Design</title>
</head>
<style>
.paragraph {
  margin-top: 100px;
  margin: auto;
  width: 70%;
  padding: 10px;
  font-size: 17px;
  font-family: sans-serif;
  background: #f7f7f7;
  line-height:24px;
  height: 90vh;
  border-radius: 20px 20px 20px 20px;
  border: groove;"
}
</style>
<body>
  <div class="paragraph">
    <h1 style = "text-align:center">
      <b> Ticket Description</b>
    </h1>
    <img src="Transformer.png" alt="" width="400" height="700" style = "margin-top: 1%; margin-left: 50px">
    <h2 style = "text-align:left; margin-top:-650px; margin-left:520px">
      Movie title: Transformers<!--movie title selected-->
    </h2>
    <h2 style = "text-align:left; margin-top: 5%; margin-left: 520px">
      Start Time: 10:00 PM
    </h2>
    <h2 style = "text-align:left; margin-top: 5%; margin-left: 520px">
      End Time: 12:00 PM
    </h2>
    <h2 style = "text-align:left; margin-top: 5%; margin-left: 520px">
      Caution: DO NOT SHARE THIS TICKET!!!
    </h2>
    <button style = "margin-left: 1150px; margin-top:250px; padding: 15px 32px;" type="submit">Generate</button>
  </div>
</body>

</html>
