<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"
        integrity="sha256-c9vxcXyAG4paArQG3xk6DjyW/9aHxai2ef9RpMWO44A=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    
    <div id="content" style="background: #fff;border-bottom: 1px solid #ffffff;">
        <div class="tokenDet"
            style="padding: 15px;border: 1px solid #000;width: 80%;margin: 0 auto;position: relative;overflow: hidden;">
            <div class="title" style="text-align: center; color: green; border-bottom: 1px solid #000;margin-bottom: 15px;">
                <h2>Movie Ticket</h2>
            </div>
            <div class="parentdiv" style="display: inline-block;width: 100%;position: relative;">
                <div class="innerdiv" style="width: 80%;float: left;">
                    <div class="restDet">
                        <div class="div">
                            <div class="label" style="width: 30%;float: left;">
                                
                            </div>
                            <div class="data" style="width: 70%;display: inline-block;">
                            <div class="label" style="width: 30%;float: left;">
                                <strong>Title: </strong>
                            </div>
                            <div class="data" style="width: 70%;display: inline-block;">
                                <span>{{ticket.title}}</span>
                            </div>
                            <div class="label" style="width: 30%;float: left;">
                                <strong>Screen: </strong>
                            </div>
                            <div class="data" style="width: 70%;display: inline-block;color: red">
                                <span>{{ticket.screenName}}</span>
                            </div>
                            
                            <div class="label" style="width: 30%;float: left;">
                                <strong>Time: </strong>
                            </div>
                            <div class="data" style="width: 70%;display: inline-block;">
                                <span>{{ticket.time}}</span>
                            </div>
                            <div class="label" style="width: 30%;float: left;">
                                <strong>Date: </strong>
                            </div>
                            <div class="data" style="width: 70%;display: inline-block;">
                                <span>{{ticket.date}}</span>
                            </div>
                            
                            <div class="label" style="width: 30%;float: left;">
                                <strong>Seat: </strong>
                            </div>
                            <div class="data" style="width: 70%;display: inline-block; ">
                                <span>{{ticket.rowNumber}}/{{ticket.seatNumber}}</span>
                            </div>
                            <div class="label" style="width: 30%;float: left;">
                               
                            </div>
                            <div class="data" style="width: 70%;display: inline-block;">
                                
                            </div>
                            </div>
                            <div class="label" style="width: 30%;float: left;">
                                
                            </div>
                            <div class="data" style="width: 70%;display: inline-block;">
                                
                            </div>
                            
                                
                        </div>
                    </div>
                </div>
                <div class="sideDiv" style="width: 20%;float: left;">
                    <div class="atts" style="float: left;width: 100%;">
                        <div class="photo" style="width: 115px;height: 150px;float: right;">
                            
                        </div>
                        <!---secure prortect-->
                        <div class="sign"
                            style="position: absolute;bottom: 0;right: 0;border-top: 1px dashed #000;left: 80%;text-align: right;">
                            <small>ID-0132211231234123</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-info" id="downloadPDF">Download PDF</button> 

<script>
   var doc = new jsPDF();
   var specialElementHandlers = {
       '#editor': function (element, renderer) {
           return true;
       }
   };


   
   $('#downloadPDF').click(function () {
    domtoimage.toPng(document.getElementById('content'))
        .then(function (blob) {
            var pdf = new jsPDF('l', 'pt', [$('#content').width(), $('#content').height()]);

            pdf.addImage(blob, 'PNG', 0, 0, $('#content').width(), $('#content').height());
            pdf.save("ticket.pdf");

            that.options.api.optionsChanged();
        });
}); 
</script>

<div><img src = "{{qrcode(ticket.ticketID)}}"></div>

</html>

