{% extends "base.html" %}
{% block title %} MoviesOnScreen {% endblock %}
{% block content %}
<style>
input[type=checkbox]
{
  transform: scale(2);
  padding: 10px;
}
</style>
<div class="container-fluid">
  <div class="paragraph" style="height:880px;">
    <div class="center">
      <h1 style ="font-family:serif;">Tick the available box</h1></br>
      <p style="margin-top:13px; margin-left: 20px;">(T = taken)</p>
    </div>
    <div class="screen">
      <h1 style="text-align: center;">
        Screen
      </h1>
    </div>
    <div class="center">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="width:300px; margin-top:100px; position:absolute">
          <strong> {{ msg }} </strong>
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>
    <table class="seat" style ="margin-top:100px">
    <thead>
      <tr style="font-weight:bold;">
        <td></td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td></td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td></td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% set ns = namespace(count=0) %}
        {% set ns2 = namespace(found=False) %}
        {% set ns3 = namespace(available=0) %}
        <td style="font-weight:bold">{{ rowDict[ns.count] }}</td>
        {% set ns.count = ns.count+1 %}
        {% for row in range(1,screenOut.seatNum+1) %}
          {% set ns2.found = False %}
          {% for booking in bookings %}
            {% set ns4 = namespace(seatNo=row%12) %}
            {% if ns4.seatNo == 0 %}
              {% set ns4.seatNo = 12 %}
            {% endif %}
            {% if rowDict[ns.count-1] == booking.rowNumber and ns4.seatNo == booking.seatCount and booking.screeningID == screeningIDOut %}
              {% set ns2.found = True %}
            {% endif %}
          {% endfor %}
            {% if(row==4 or row==10 or row==16 or row==22 or row==28 or row==34 or row==40 or row==46 or row==52 or row==58 or row==64 or row==70) %}
              <td></td>
            {% endif %}
            {% if row %12 == 0 and row < screenOut.seatNum and ns2.found==False %}
              <td><input type="checkbox" id="seat1"name="seats" onclick="checkbox(); hiddenbox();" value="{{ row }}"></td>
              <tr>
              <td style="font-weight:bold">{{ rowDict[ns.count] }}</td>
              {% set ns.count = ns.count+1 %}
            {% elif row %12 == 0 and row < screenOut.seatNum and ns2.found==True %}
            <td><input type="checkbox" id="seat1" disabled checked></td>
            <tr>
            <td style="font-weight:bold">{{ rowDict[ns.count] }}</td>
            {% set ns.count = ns.count+1 %}
           {% else %}
                {% if ns2.found == False %}
                <td><input type="checkbox" id="seat1" name="seats" onclick="checkbox(); hiddenbox();" value="{{ row }}"></td>
                {% else %}
                <td><input type="checkbox" id="seat1" disabled checked></td>
                {% endif %}
           {% endif %}
        {% endfor %}
    </tbody>
    </table>
    <div class="input-group flex-nowrap" style="width:220px;margin:auto;">
      <input type="text" class="form-control" id="show" name="seats" style="height:34px;"> <!--will print seats selected -->
    </div>
    <form action = "/seats" method = "POST" align="center">
      <input type="hidden" id="showing" name="seats" style="height:34px;">
     <button type ="submit" class="btn btn-outline-secondary" style="color:black; border: 1px solid black; padding:4px; margin-top:20px;">Booking</button>
    </form>
  </div>
</div>
<script>
function checkbox(){

var checkboxes = document.getElementsByName('seats');
var checkboxesChecked = [];
var count = 0;
var rowDict = ['A','B','C','D','E','F','G'];
// loop over them all
for (var i=0; i<checkboxes.length; i++) {
   // And stick the checked ones onto an array...
   if (checkboxes[i].checked)
   {
      if (checkboxes[i].value >= 13)
      {
        count = 1;
        if (checkboxes[i].value >= 25)
        {
          count = 2;
        }
        if (checkboxes[i].value >= 37)
        {
          count = 3;
        }
        if (checkboxes[i].value >= 49)
        {
          count = 4;
        }
        if (checkboxes[i].value >= 61)
        {
          count = 5;
        }
        if (checkboxes[i].value >= 73)
        {
          count = 6;
        }
        var a = checkboxes[i].value % 12;
        if (a == 0)
        {
          a = 12;
        }
        var str = rowDict[count] + a;
        checkboxesChecked.push(str);
      }
      if (checkboxes[i].value <= 12)
      {
        var str = rowDict[0] + checkboxes[i].value;
        checkboxesChecked.push(str);
      }
   }
   document.getElementById("show").value = checkboxesChecked;
}

}
function hiddenbox(){

var checkboxes = document.getElementsByName('seats');
var checkboxesChecked = [];
// loop over them all
for (var i=0; i<checkboxes.length; i++) {
   // And stick the checked ones onto an array...
   if (checkboxes[i].checked) {
      checkboxesChecked.push(checkboxes[i].value);
   }
}
document.getElementById("showing").value = checkboxesChecked;

}

</script>
{% endblock %}
