{% extends "base.html" %}
{% block title %} Profile {% endblock %}
{% block content %}
{%if admin == "0"%}
<div class="paragraph" style="height:960px; text-align: center;">
    <label>Balance: {{name.walletBalance}}</label>
    <br>
    <a href="http://localhost:5000/addFunds/{{session['id']}}"><button class="btn btn-outline-secondary push" type="submit">Add funds</button></a>
    <a href="http://localhost:5000/ticketsHistory/{{session['id']}}"><button class="btn btn-outline-secondary push" type="submit">Ticket History</button></a>
</div>
{% endif %}
{%if admin == "1"%}
<div class="paragraph" style="height:960px; text-align: center;">
    <a href="http://localhost:5000/addUser"><button class="btn btn-outline-secondary push" type="submit"> Add User</button></a>
    <a href="http://localhost:5000/genre"><button class="btn btn-outline-secondary push" type="submit" >Add Genre</button></a>
    <a href="http://localhost:5000/addMovie"><button class="btn btn-outline-secondary push" type="submit" >Add Movie</button></a>
    <a href="http://localhost:5000/memberList"><button class="btn btn-outline-secondary push" type="submit" >Member List</button></a>
</div>
{% endif %}
{% endblock %}
