<!DOCTYPE html>
<html>
    <body>
        <form action="" method="POST">
            <div class="form-group mb-1">
                <div class="">
                    <input required="required" type="email" name="email" placeholder="Email" value="">
                </div>
            </div>
            <br>
            <div class="form-group mb-1">
                <div class="">
                    <input required="required" type="text" name="card" placeholder="Card" value="">
                </div>
            </div>
            <br>
            <div class="form-group mb-1">
                <div class="">
                    <input required="required" type="password" name="password" placeholder="Password" value="">
                </div>
            </div>
            <br>
            <div class="form-group mb-1">
                <div class="">
                    <input required="required" type="password" name="c_password" placeholder="Confirm Password" value="">
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <br>
                    <span>{{ message }} </span>
                    <br>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>