{% extends "base.html" %}
{% block title %} Signup {% endblock %}
{% block content %}
     <li class="nav-item">
       <a class="nav-link" href="login">Login</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="signup">Signup</a>
     </li>
   </ul>
 </div>
</nav>
<div class="container-fluid">
  <div class="paragraph" style="height:920px; text-align: center;">
    {% for msg in get_flashed_messages()%}
        <h3>{{msg}}</h3>
    {% endfor %}
    <form action="" method="POST">
      <h1 style="text-align:center; margin-top: 110px;">Register</h1>
      <div class="input-group mb-1" style="width:35%; height:40px; margin:auto;">
        <input class="form-control" type="text" required="required" placeholder="Username" name ="username" style="margin-top: 40px; height:40px;">
        <span class="input-group-text" style="height:40px; margin-top:40px;">@</span>
        <input class="form-control" type="text" required="required" placeholder="Email" name="email" style="margin-top: 40px; height:40px">
      </div>
        <div class="form-group mb-1" align="middle">
          <input class="form-control" required="required" type="text" name="card" placeholder="Card" value="" style="width:35%; margin-top: 80px; height:40px">
        </div>
        <div class="form-group mb-1" align="middle">
          <input class="form-control" required="required" type="password" name="password" placeholder="Password" value="" style="width:35%; margin-top: 40px; height:40px">
        </div>
        <div class="form-group mb-1" align="middle">
          <input class="form-control" required="required" type="password" name="c_password" placeholder="Confirm Password" value="" style="width:35%; margin-top: 40px; height:40px">
        </div>
        <br>
        <div align="middle">
          <button class="btn btn-outline-secondary" type="submit" style="color:black; border: 1px solid black;">Register</button>
        </div>
    </form>
  </div>
</div>
{% endblock %}
