<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>No title</title>
    {% endif %}
    
  </head>
  <body>
      <p>Ticket ID = {{ testTicket.ticketID }}</p>
      <p>Booking ID = {{ testBooking.bookingID }}</p>
      <p>Movie Name = {{ testMovie.title }}</p>
      <p>Date = {{ testScreen.date }}</p>
      <p>Time = {{ testScreen.time }}</p>
      <p>Seat Number = {{ testBooking.seatNumber }}</p>
      <p>Row Number = {{ testSeat.rowNumber }}</p>
      <p>Screening ID = {{ testScreen.screenID }}</p>
      <p>Payment ID = {{ testPayment.paymentID }}</p>
      <p>Payment Method = {{ testPayment.paymentMethod }}</p>
      <p>Price = {{ testCustomerType.price }}</p>
      <input type="submit" name="next" value="next">
  </body>
</html>