{% extends "base.html" %}
{% block title %} MoviesOnScreen {% endblock %}
{% block content %}
      {%for flag in flag%}
        {%if flag == "0"%}
         <li class="nav-item">
           <a class="nav-link" href="login"><strong>Login</strong></a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="signup"><strong>Signup</strong></a>
         </li>
        {% endif %}
        {%if flag == "1"%}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false"><strong>{{name.email}}</strong></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="dropdown-item" href="logout">Logout</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
            </ul>
          </li>
        {% endif %}
      {% endfor %}
   </ul>
 </div>
</nav>
<div class="container-fluid">
  <div class="paragraph" style="height:930px; text-align: center;">
    <form method = "POST" action = "">
      <h4>Time Selection</h4><br>
      <h4>{{ad}}</h4><br>
      <table class="table table-bordered" style="width: 300px; margin-left: 540px;">
          {% for time in time %}
            <tr>
              <td>movieID: {{time.movieID}}</td>
              <td>screeningID: {{time.screeningID}}</td>
              <td>screenID: {{time.screenID}}</td>
              <td>{{time.time}}</td>
              <td><button type="submit" name="movie"value={{time.screeningID}} class="btn btn-outline-secondary" style="color:black; border: 1px solid black; padding:4px;">Booking</button></td>
            </tr>
          {% endfor %}
      </table>
    </form>
    <script>
      function show(val)
      {
          document.getElementById('showing').value = val;
      }
    </script>
    </div>
  </div>
{% endblock %}
