{% extends "base.html" %}
{% block title %} MoviesOnScreen {% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="paragraph" style="height:930px; text-align: center;">
    <form method = "POST" action = "">
      <h4>Time Selection</h4><br>
      <table class="table table-bordered" align="center" style="color:white;">
      <thead>
        <tr>
          <th scope="col">Movie Title</th>
          <th scope="col">Screen</th>
          <th scope="col">Time</th>
          <th scope="col">Available Seats</th>
          <th scope="col"></th>
        </tr>
      </thead>
          {% for time in time %}
          {% set seats = namespace(count=0) %}
          {% set availableSeat = namespace(count=0) %}
            {% for booking in bookings%}
             {% if time.screeningID == booking.screeningID %}
              {% set seats.count = seats.count + 1%}
             {% endif %}
            {% endfor %}
            {% if time.screenID == 1%}
              {% set availableSeat.count = 60 - seats.count%}
            {% endif %}
            {% if time.screenID == 2%}
              {% set availableSeat.count = 48 - seats.count%}
            {% endif %}
            {% if time.screenID == 3%}
              {% set availableSeat.count = 72 - seats.count%}
            {% endif %}
            <tr>
              <td>{{movie.title}}</td>
              {% if time.screenID == 1 %}
                <td>A</td>
              {% endif %}
              {% if time.screenID == 2 %}
                <td>B</td>
              {% endif %}
              {% if time.screenID == 3 %}
                <td>C</td>
              {% endif %}
              <td>{{time.time}}</td>
              <td>{{availableSeat.count}} </td>
              <td><button type="submit" name="movie"value={{time.screeningID}} class="btn btn-outline-secondary push" style="padding:4px;">Booking</button></td>
            </tr>
          {% endfor %}
      </table>
    </form>
    </div>
  </div>
{% endblock %}
